body {background-color: rgb(241, 148, 161);}
p {color: rgb(109, 0, 0);}
.pizza {font-style: italic;}
h1 {text-align: center;}
h2 {text-align: center;}
.rick {text-align: center;
width: 40%;
}
header {
    border-bottom: solid 3px rgb(71, 18, 128);
    padding: 25px;
    font-size: 32px;
}
