body {background-color: rgb(197, 34, 51);}
p {color: rgb(141, 23, 39) ;
    font-size: 25px;
    margin-left: 20px;}
.pizza {font-style: italic;}
h1 {
    color: rgb(88, 12, 31);
    text-align: center;
}
h2 {
    text-align: center;
    color: rgb(116, 18, 29);
}
.rick {text-align: center;
width: 180px;
}
.hotdog {margin-right: 15px;}
.pastel {margin-right: 15px;}
header {
    border-bottom: solid 3px rgb(88, 12, 31);
    padding: 25px;
    font-size: 32px;
    display: flex;
    justify-content: center;
}
.sarabun-extrabold-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 800;
    font-style: italic;
  }  